.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #2dd36f;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-section ul li a:hover {
  color: #2dd36f;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #444;
  font-size: 0.9rem;
  color: #bbb;
}

.social-icons {
  display: flex; /* Flexbox elrendezés vízszintes elhelyezéshez */
  gap: 15px; /* Távolság az ikonok között */
  margin-top: 10px; /* Tér a szöveg és az ikonok között */
}

.social-icons a {
  color: #f7f7f7;
  font-size: 1.5rem;
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icons a:hover {
  color: #ffffff;
  background: linear-gradient(135deg, #56ff70, #2d8aff);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(45, 138, 255, 0.3);
}

.social-icons img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* Reszponzív beállítások (opcionális, ha szükséges) */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
  }

  .social-icons {
      justify-content: center; /* Középre igazítás kisebb képernyőkön */
  }
}